.homePage {
    margin: 4em;
    border-style: solid;
    border-color: black;
    background-color: white;
    padding: 2em;
    text-align: center;
    opacity: 0.75;

}
h1 {
    font-family: 'Rouge Script', cursive;
    color: black
}
p {
    color: red
}