.gbWrapper {
    display: grid;
    background-color: white;
    grid-template-columns: repeat(2, 1fr);
    margin: 3em;
}

.firstCol {
    display: grid;
    gap: 1em;
    padding: 2em;
}

.firstCol > button {
    padding: 1em;
}

.firstCol > div {
    padding: 1em;
    text-align: center;
}

.secCol {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 1em;
    gap: 1em;
}

.secCol > div {
    border-style: solid;
    text-align: center;
}

.innerDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em
}

.innerDiv > button {
    padding: 1em;
}