<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!--Table Text-->
<div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div class="tableTitle col-auto">BLACKJACK PAYS 3 TO 2</div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="tableText col-auto">INSURANCE PAYS 2 TO 1</div>
      <div class="col"></div>
    </div>

    {{!-- Text to indicate whos hand --}}
    <div class="row">
      <div class="col playersHandText">Player's Hand</div>
      <div class="col"></div>
      <div class="col dealersHandText">Dealer's Hand</div>
    </div>

    <div class="row">
      {{!-- Player's Hand --}}
      <div class="col cards playersHand"></div>
      <div class="col">
        <div class="betAmountDiv">
          <input type="text" id="betAmount" value=0>
        </div>
      </div>
      {{!-- Dealer's Hand --}}
      <div class="col cards dealersHand"></div>
    </div>
  </div>
</div>

<br>

{{!-- Rules and form to enter player name --}}
<div class="container pageInteraction">
  {{!-- Rules Text --}}
  <div class="row"> <h3>Rules:</h3> </div>
  <div class="row">
    <div class="col">
      <ul class="displayToggle rules">
        <li>
          The goal of blackjack is to beat the dealer's hand without going over 21.
        </li>
        <li>
          Face cards are worth 10. Aces are worth 1 or 11, whichever makes a better hand. Number cards are worth their value.
        </li>
        <li>
          Press 'Hit' to draw a card. Press 'Stand' to hold your total.
        </li>
      </ul>
    </div>
    <div class="col">
      <ul class="displayToggle rules">
        <li>
          If you go over 21, you bust, and the dealer wins.
        </li>
        <li>
          If you are dealt 21 from the start (Ace & 10), you recieve 1.5x your bet.
        </li>
        <li>
          If dealer's hand reaches 17 points, dealer will not draw any more cards and end their turn.
        </li>
      </ul>
    </div>
    {{!-- Name Form --}}
    <form class="betForm col">
      <label for="bet" >Enter Name To Start:</label><br>
      <input type="text" id="name" name="name">
      <input type="submit" class="btn btn-danger" id="submitName" value="Submit">
    </form>
  </div>
</div>

{{!-- Game Board buttons, forms, and other user interactions --}}
<div class="container startGame displayNone">
  <div class="row">
    {{!-- Amount left and button to update the leaderboard --}}
    <div class="col amountText">
      <label for="amountLeft">Amount Left:</label><br>
      <h2 id="amountLeft">5000</h2>
      <button type="button" class="btn btn-primary disabled finishButton col-auto">Submit Score</button>
    </div>
    {{!-- Form to place bet --}}
    <form class="betForm col">
      <label for="bet">Bet:</label><br>
      <input type="number" id="bet" name="bet">
      <input type="submit" class="btn btn-danger" id="placeBet" value="Place Bet">
    </form>
    {{!-- Buttons to hit, stay, and reset for the next round --}}
    <div class="col"><br>
      <div class="buttons">
      <button type="button" class="btn btn-warning disabled hitButton" id="test">Hit</button>
      <button type="button" class="btn btn-warning disabled stayButton">Stay</button><br><br>
      <button type="button" class="col btn btn-warning resetButton" id="resetBtn">Next Round</button>
      </div>
    </div>
  </div><br><br>

{{!-- Game Text to display results --}}
  <p class="gameText"></p>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/cards.js" type="text/javascript"></script>
<script src="/js/view.js" type="text/javascript"></script>