<!--Hero Image-->

<div>
    <br>
    <div class="container">
        <h1 class="tableText">LEADERBOARD</h1>
        <br>
        <table class="table">
            <thead class="tableText">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody class="tableTitle">
                {{#each players}}
                <tr>
                    <td>{{this.order}}</td>
                    <td>{{this.name}}</td>
                    <td>${{this.balance}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/cards.js" type="text/javascript"></script>
<script src="/js/view.js" type="text/javascript"></script>