//To remove or display the reset button
#resetBtn {
    display: none;
}

//Button Style
.buttons {
    margin-left: 10%;
}

//Style to separate the hit and stay button
.hitButton {
    margin-right: 20px;
}

