//Nav Bar
.navBar {
    background-color: rgba(3, 110, 3, 0.849);
}

//Leaderboard link
#scoreBoardLink {
    position: absolute;
    right: 0px;
    margin-right: 50px;
}

//Back Jack Casino link
#homePageLink {
    margin-left: 50px;
}

//Nav Link styles
.homeTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: rgb(255, 230, 0);
}

//Nav Link styles
.scoreboardTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: rgb(255, 230, 0);
}
