//Table text Styles
.tableTitle {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.tableText {
    border-style: solid;
    border-color: yellow;
    color: white;
    text-align: center;
    font-size: 35px;
}

.playersHandText {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.dealersHandText {
    color: rgb(230, 86, 129);
    font-size: 35px;
    width: 600px;
    text-align: center;
}

.gameText {
    text-align: center;
    font-size: 40px;
}

#bankText {
    font-size: 20px;
    pointer-events: none;
}

#betText {
    font-size: 20px;
}

.rules {
    color: black;
}

#amountLeft {
    pointer-events: none;
}

.amountText {
    margin-left: 10%;
}

@media (max-width: 500px) {
    .tableText {
        display: none;
    }

    .tableTitle {
        display: none;
    }
}