.leaderWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-style:solid;
    margin: 5em;
    background-color: white;
}

.leaderWrapper > div {
    display: grid;
    /* border-style: solid; */
    padding: 1em
}