#navBarContainer .navBar {
    background-color: rgba(3, 110, 3, 0.849);
  }
  
  #navBarContainer #scoreBoardLink {
    position: absolute;
    right: 0px;
    margin-right: 50px;
  }
  
  #navBarContainer #homePageLink {
    margin-left: 50px;
  }
  
  #navBarContainer .homeTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: #ffe600;
  }
  
  #navBarContainer .scoreboardTitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 35px;
    color: #ffe600;
  }